{% extends 'base.html' %}
{% block body %}
<div class="container-fluid" style="margin-bottom: 220px">
<div class="row">
    <div class="offset-3 col-md-6" style="color: darkred; background-color: whitesmoke;border: 4px solid darkred;padding: 30px;border-radius: 10px;margin-top: 50px">
  <h2 class="text-center">USER LOGIN HERE</h2>
  <form action="{% url 'login' %}" method="post" class="shadow-lg ">
      {% csrf_token %}
    <div class="form-group" style="font-size: 30px">
      <label>Email:</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" required style="border:1px solid darkred">
      <label>Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" name="pswd" required style="border:1px solid darkred">
    </div>
    <button type="submit" class="btn btn-success" style="color: black;border:2px solid darkred">Login</button>
  </form>
        {% for x in messages %}
    <h4 align="center" style="padding: 10px;border: 2px dotted darkred; background-color: wheat;margin-top: 10px">{{ x }}</h4>
    {% endfor %}
         </div>
</div>
</div>

{% endblock %}